<!--

-->
<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" 
                {{- with .Params.style_background }}style="background-color: {{ . }} !important;{{ with $.Params.style_color }} color: {{ . }} !important;{{ end }}"{{ end -}}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <h2 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>

    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}

    {{ if not .Date.IsZero }}
    <div class="article-time">
        {{ if .Site.Params.article.dateFormat }}
            <div>
                {{ partial "helper/icon" "calendar" }}
                <time class="article-time--published">
                    {{- .Date.Format .Site.Params.article.dateFormat -}}
                </time>
            </div>
        {{ else }}
            <div>
                {{ partial "helper/icon" "calendar" }}
                <time class="article-time--published">
                    {{- .Date.Format "Jan 02, 2006" -}}
                </time>
            </div>
        {{ end }}

        {{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--modified">
                    {{ .Lastmod.Format "Jan 02, 2006" }}
                </time>
            </div>
        {{ end }}
    </div>
    {{ end }}
</div>