<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>
<meta name='robots' content='max-image-preview:large'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{ if .IsPage }}
    {{ $currentURL := .Permalink }}
    {{ $translationKey := .Params.translationKey }}

    {{ if and (in $currentURL "/post") $translationKey }}
        {{ $isEnglish := in $currentURL "/post-en/" }}
        {{ $translationURL := "" }}

        {{ range where .Site.RegularPages "Params.translationKey" $translationKey }}
            {{ if $isEnglish }}
                {{ if and (not (in .Permalink "/post-en/")) (in .Permalink "/post/") }}
                    {{ $translationURL = .Permalink }}
                {{ end }}
            {{ else if in .Permalink "/post-en/" }}
                {{ $translationURL = .Permalink }}
            {{ end }}
        {{ end }}

        {{ if $translationURL }}
            {{ if $isEnglish }}
                <link rel="alternate" hreflang="zh-CN" href="{{ $translationURL }}" />
                <link rel="alternate" hreflang="en" href="{{ $currentURL }}" />
                <link rel="alternate" hreflang="x-default" href="{{ $translationURL }}" />
            {{ else }}
                <link rel="alternate" hreflang="zh-CN" href="{{ $currentURL }}" />
                <link rel="alternate" hreflang="en" href="{{ $translationURL }}" />
                <link rel="alternate" hreflang="x-default" href="{{ $currentURL }}" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}

{{- if .IsPage -}}
    {{- partial "head/opengraph.html" . -}}
    {{- partial "head/twitter.html" . -}}
    {{- partial "head/schema.html" . -}}
{{- end -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- partial "head/analytics.html" . -}}
{{- partial "head/custom.html" . -}}
