<!--

-->
{{ if .Params.translationKey }}
    <div class="article-lang-switcher">
        {{ if in .RelPermalink "/post/en/" }}
            {{ $zhPath := .Params.translationKey }}
            <a href="{{ printf "/post/%s" $zhPath | relURL }}" class="lang-switch-button">
                <span class="lang-switch-icon">🌏</span>
                <span class="lang-switch-text">中文</span>
            </a>
        {{ else }}
            {{ $enPath := .Params.translationKey }}
            <a href="{{ printf "/post/en/%s" $enPath | relURL }}" class="lang-switch-button">
                <span class="lang-switch-icon">🌏</span>
                <span class="lang-switch-text">English</span>
            </a>
        {{ end }}
    </div>
{{ end }} 