name: Build and Deploy Hugo Site

on:
  push:
    branches:
      - main  # 当 main 分支有更新时触发

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true  # 拉取 Git Submodule
          fetch-depth: 0    # 获取所有 Git 历史，用于 GitInfo

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.111.3' # 指定 Hugo 版本
          extended: true          # 明确使用 Extended 版本

      - name: Build
        run: hugo --gc --minify # 执行构建命令

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish # 指定要部署的文件夹
          publish_branch: gh-pages # 部署到 gh-pages 分支
          cname: victor42.eth.limo # 如果您有自定义域名，可以写在这里，否则可以删除这行
